@{
    Layout = PersonalWebsite.Web.Views.MainLayout;
}

<div class="row">
    <div id="posts-container" class="col-lg-8 col-md-10 mx-auto">
        @*<!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>*@
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        const renderPost = (post) => {
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            console.log(post);
            return `<div class="post-preview">
<a href="/blog/${post.slug}">
    <h2 class="post-title">${post.title}</h2>
    <h3 class="post-subtitle">${post.title}</h3>
</a>
<p class="post-meta">
    Published on ${new Date(post.publishDate).toLocaleDateString("en-US", options)}
</p>
</div>`;
        };

        window.jQuery.get("/api/posts", (data) => {
            console.log(data);
            if (!data) {
                return;
            }
            var postsContainer = document.getElementById("posts-container");
            postsContainer.innerHTML = data.posts.map(x => renderPost(x)).join("\n") + "\n<hr />";
        });
    </script>
}